@import url("http://fonts.googleapis.com/css?family=Roboto:100");

	body{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size: 17pt;
		line-height: 1.75em;
		color: #888;
		-webkit-text-stroke: 0.1px;
	}

	h1, h2{
		color: #666;
		margin: 0 0 1em 0;
		font-weight: 100;
		line-height: 1.5em;
	}

		.dark h1, .dark h2{
			color: #fff;
		}

	/* Dark */
	.dark{
		color: #aaa;
		color: rgba(255,255,255,0.65);
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/
	
		header h1{
			margin: 0;
		}

		header h2{
			padding-top: 1.5%;
		}
	
		header p{
			display: block;
			margin: 0;
			padding: 0em 0 0.5em 0;
		}

	#header{
		position: relative;
		margin: 0;
		padding: 2em 0 4em 0;
		text-align: center;
		color: #000;
	}
		
	#header header h1{
		font-size: 2.25em;
		line-height: 1em;
		margin-bottom: 0;
		margin-top: 1.5em;
		color: #000;
	}
			
	#header header p{
		margin-top: 1em;
		font-weight: 100;
		padding: 0;
		font-size: 1.25em;
		line-height: 1.5em;
		text-align: center;
		margin-bottom: 0;
	}

/*********************************************************************************/
/* Register & Login                                                              */
/*********************************************************************************/
#register{
	float:left;
	margin-left: 10%;
}

#login {
	float:right;
	margin-right: 10%;
}

#register, #login{
	width: 35%;
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
footer{
    padding-top: 1%;
    background-color: #F8F8F8;
	position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center; 
}

footer p{
	font-size: 0.8em;
	text-align: center;
}

