html
  head
    title Capture The Flag
    link(rel='stylesheet', href='css/lstyle.css')
    // link rel="stylesheet" href="css/foundation.css" /
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
  body
    // Nav Bar
    nav.icon-bar.four-up
      a.item(href='index.html')
        img(src='images/fi-home.svg')
        // label>Home</label
      a.item(href='#')
        img(src='images/fi-play.svg')
        // label>Home</label
      a.item(href='leaderboard.html')
        img(src='images/fi-trophy.svg')
        // label>Bookmark</label
      a.item(href='https://github.com/dmastylo/itws-4200-group')
        img(src='images/fi-social-github.svg')
        // label>Info</label
    // Leaderboard
    section#first.main
      header
        .container
          h2 Leaderboard
          table(style='width:80%')
            tr
              th Position
              th Username
              th Points
            tr
              td.positions 1
              td Shirley
              td $64,000
            tr
              td.positions 2
              td Plotka
              td 4070
            tr
              td.positions 3
              td Barb
              td 1200
            tr
              td.positions 4
              td Moorthy
              td 10
            tr
              td.positions 3
              td rpi
              td 2
    //
      Navigation>
      <div ng-app="myApp" ng-controller="#">
      <table>
      <tr ng-repeat="x in names">
      <td>{{ $index + 1 }}</td>
      <td>{{ x.Name }}</td>
      <td>{{ x.Score }}</td>
      </tr>
      </table>
      </div>
      <script>
      var app = angular.module('myApp', []);
      app.controller('#', function($scope, $http) {
      $http.get("something.php")
      .success(function (response) {$scope.names = response.records;});
      });
      </script
    // Footer
    footer
      p
        | CTF was created by Damian, Max, Nathan, Peter, Ylonka, and Zach for Web Science Systems Development, Spring 2015.

