html
  head
    title Capture The Flag
    link(rel='stylesheet', href='css/style.css')
    // link rel="stylesheet" href="css/foundation.css"
  body
    // Nav Bar
    nav.icon-bar.four-up
      a.item(href='index.html')
        img(src='images/fi-home.svg')
        // label>Home</label
      a.item(href='#')
        img(src='images/fi-play.svg')
        // label>Home</label
      a.item(href='leaderboard.html')
        img(src='images/fi-trophy.svg')
        // label>Bookmark</label
      a.item(href='https://github.com/dmastylo/itws-4200-group')
        img(src='images/fi-social-github.svg')
        // label>Info</label
    // Header
    section#header.dark
      header
        img(src='images/logo.png', alt='logo', height='150', width='200')
        h1 Welcome to Capture The Flag
        p A modernized version of a beloved classic.
        p
      footer
        a(href='#') Start a game
    // Instructions
    section#first.main
      header
        .container
          h2 Rules of the Game
          ul
            li
              | 1. Bumping into an opposing player that is on your side will "tag" them and teleport them back to their side of the field, where they'll remain frozen for a few seconds.
            li 2. Bumping into the flag will pick it up and attach it to the player.
            li 3. Bringing it back to their side will score a point for the team. 
            li
              | 4. Once a certain point value is reached, the game is won by the team reaching that value.
    // Footer
    footer
      p
        | CTF was created by Damian, Max, Nathan, Peter, Ylonka, and Zach for Web Science Systems Development, Spring 2015.