html
  head
    title Capture The Flag
    link(rel='stylesheet', href='css/style.css')
    link(rel="stylesheet", href="css/foundation.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
  body
    nav.icon-bar.four-up
      a.item(href='')
        i.fa.fa-home
      a.item(href='/game')
        i.fa.fa-flag
      a.item(href='leaderboard')
        i.fa.fa-trophy
      a.item(href='https://github.com/dmastylo/itws-4200-group')
        i.fa.fa-user

    section#header.dark
      header
        img(src='images/logo.png', alt='logo', height='150', width='200')
        h1 Welcome to Capture The Flag
        p A modernized version of a beloved classic.
        p
      footer
        a(href='game') Join a game
    // Instructions
    section#first.main
      header
        .container
          h2 Rules of the Game
          ul
            li
              | 1. Bumping into an opposing player that is on your side will "tag" them. Tagged players have to walk back to their base to be untagged befor they can tag players or capture the flag.
            li 2. Bumping into the flag will pick it up and attach it to the player.
            li 3. Bringing it back to their flag spawn will score a point for the team. 
            li
              | 4. After 2 minutes the game ends and the team with more points wins!
    // Footer
    footer
      p
        | CTF was created by Damian, Max, Nathan, Peter, Ylonka, and Zach for Web Science Systems Development, Spring 2015.