<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 id="username"></h1>

    <form action="">
      <input id="username-input" autocomplete="off" />

      <button>Register</button>
    </form>

    <h2>Current Users</h2>
    <ul id="current-users"></ul>

    <!-- JavaScript includes. Notice that socket.io.js is served by node.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script>
      var socket = io();

      $('form').submit(function(e) {
        e.preventDefault();

        var username = $('#username-input').val();

        socket.emit('username-registered', username);
        $('#username').text('Hi, ' + username);

        $(this).remove();
        return false;
      });

      socket.on('new-username', function(msg) {
        var usernames = msg.split(',');
        for (var i = 0; i < usernames.length; ++i) {
          $('#current-users').append($('<li>').text(usernames[i]));
        }
      });
    </script>
  </body>
</html>
