doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    //- link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/socket.io/socket.io.js')
    //- script(src='/javascripts/modernizr.js')
    //- script(src='/javascripts/foundation.min.js')
    script(src='/javascripts/utilities.js')
    script(src='/javascripts/player.js')
    script(src='/javascripts/app.js')

    title= title
  body
    block content