html(ng-app="ctf")
  head
    title Capture The Flag
    link(rel='stylesheet', href='css/lstyle.css')
    link(rel="stylesheet", href="css/foundation.css")
    link(rel="stylesheet", href="css/font-awesome.min.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(src='javascripts/leaderboard.js')
  body(ng-controller="leaderboard")
    nav.icon-bar.four-up
      a.item(href='')
        i.fa.fa-home
      a.item(href='/game')
        i.fa.fa-flag
      a.item(href='leaderboard')
        i.fa.fa-trophy
      a.item(href='https://github.com/dmastylo/itws-4200-group')
        i.fa.fa-user

    section#first.main
      header
        .container
          h2 Leaderboard
          table(style='width:80%')
            tr
              th Position
              th Username
              th Games Played
              th Wins
              th Losses
              th Tags
              th Captures

            tr(ng-repeat='user in users')
              td.positions {{ $index }}
              td {{ user.name }}
              td {{ user.gamesPlayed }}
              td {{ user.wins }}
              td {{ user.losses }}
              td {{ user.tags }}
              td {{ user.captures }}

          h2 Global Game Stats
          table(style='width:80%' data-ng-init="leaderboardInit()")
            tr
              th Total Games Played
              th Red Wins
              th Blue Wins
              th Tags
              th Total Captures

            tr(ng-repeat='stat in stats')
              td {{ stat.gamesPlayed }}
              td {{ stat.redWins }}
              td {{ stat.blueWins }}
              td {{ stat.tags }}
              td {{ stat.totalCaptures }}

    footer
      p
        | CTF was created by Damian, Max, Nathan, Peter, Ylonka, and Zach for Web Science Systems Development, Spring 2015.

