body {
	background-color: ;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#game {
  display: none;
}

#titleBlock {
	text-align: center;
}

#title {
	display: inline;
}

#formtitle {
	font-size: 2em;
}

#username-input {
	padding: 5px;
}



