<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1 id="username"></h1>

    <form action="">
      <input id="username-input" autocomplete="off" />

      <button>Register</button>
    </form>

    <h2>Current Users</h2>
    <ul id="current-users"></ul>

    <!-- JavaScript includes. Notice that socket.io.js is served by node.js -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/jquery.js"></script>
    <script>
      var socket = io();

      $('form').submit(function(e) {
        e.preventDefault();

        var username = $('#username-input').val();

        if (!username.length) {
          return false;
        }

        socket.emit('username-registered', username);
        $('#username').text('Hi, ' + username);

        $(this).remove();
        return false;
      });

      socket.on('new-user', function(msg) {
        var usernames = msg.split(',');
        for (var i = 0; i < usernames.length; ++i) {
          var username_dom = $('<li>').text(usernames[i]).attr('data-username', usernames[i]);

          $('#current-users').prepend(username_dom);
        }
      });

      socket.on('user-disconnected', function(msg) {
        var username_dom = $('*[data-username="' + msg + '"]')

        // Animate the user so that people know they're leaving
        username_dom.text(username_dom.text() + ' has left!');
        username_dom.css('color', 'red');
        username_dom.fadeOut('slow', 'swing', function() {
          username_dom.fadeIn('slow', 'swing');
        });

        setTimeout(function() {
          username_dom.slideUp('slow', 'swing', function() {
            username_dom.remove();
          });
        }, 2000);
      });
    </script>
  </body>
</html>
